
<div class="container-fluid">
  <!-- Content here -->
  <button type="button" class="btn btn-primary">利用者管理</button>
  <button type="button" class="btn btn-primary">資料管理</button>
  <button type="button" class="btn btn-primary">システム設定</button>
  <button type="button" class="btn btn-primary">貸出返却</button>
  <button type="button" class="btn btn-primary">点検</button>
  <button type="button" class="btn btn-primary">予約</button>
  <button type="button" class="btn btn-primary">統計</button>
</div>
